<mat-form-field>
    <!-- <mat-label style="text-align: center;width:50px;">Office Assests Configuration</mat-label> -->
    <mat-placeholder class="myclass">Office Assests Configuration</mat-placeholder>
    <mat-select [formControl]="asset" [(ngModel)]="selectedasset">

      <!-- Datasource in columns screen -->
      <mat-option *ngFor="let assets of assetlist" [value]="assets">{{assets}}</mat-option>
    </mat-select>
  </mat-form-field> 
  
      <mat-form-field style="margin-left: 150px;">
          <mat-placeholder class="myclass">To add...</mat-placeholder>
          <input matInput>
        </mat-form-field>
        &nbsp;

        <button mat-raised-button color="primary">Add</button> &nbsp;

        <!-- Deleting the entire grid -->
        <button mat-raised-button color="primary">Delete</button> 
        

  <br>

    <div class="grid">
    <input matinput value={{selectedasset}} style="width:300px;height: 25px;font-size: medium;">
<br>
    <div id="spreadsheet"  style="width: 300px;"></div>

</div>


<br>


<!-- Adding a new row in the grid -->
<button mat-raised-button color="primary" (click)="gridrowadd()">Add</button> &nbsp; 

<!-- Deleting the selected row in the grid -->
<button mat-raised-button color="primary">Delete</button> &nbsp;

<!-- Saving the changes in the grid to the server -->
<button mat-raised-button color="primary">Save</button> 