/* You can add global styles to this file, and also import other style files */


@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

::ng-deep .mat-select-content{
    width:2000px;
    background-color: red;
    font-size: 10px;   
}
.myclass {
    /* color: red; */
    width:110px;
    font-size:15px;
   }