/* You can add global styles to this file, and also import other style files */


@import "ag-grid-community/dist/styles/ag-grid.css";
@import "ag-grid-community/dist/styles/ag-theme-alpine.css";
/* @import "@ag-grid-community/all-modules/dist/styles/ag-theme-fresh.css";  */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* For using odd/even colors */
.jexcel tbody tr:nth-child(even) {
    background-color: #EEE9F1 !important;
  }

div.columntypegrid{
    margin-top: 20px;
    margin-left: 10px;
   
}

.myclass {
    width:110px;
    font-size:15px;
   }

div.grid{
       margin-top: 40px;
   }